.section-courses {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.section-courses__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section-courses__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-courses__title h2 {
    font-size: 2rem;
}

.section-courses__title hr {
    width: 50px;
    height: 3px;
    border: 0;
    background-color: #6366f1;
}

.section-courses__container--card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-courses__article {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #eee;
    display: flex;
    flex-direction: column;
}

.section-courses__article div:first-child {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-courses__article div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.section-courses__article > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.section-courses__article h3 {
    font-size: 1.3rem;
}

.section-courses__article p {
    font-size: 1.1rem;
    color: #333;
}

.section-courses__article span {
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 5px 10px;
    font-weight: 600;
}

.section-courses__article > div:nth-child(2) div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Primer article */
.section-courses__article:nth-of-type(1) > div:nth-child(2) div span:nth-child(1) {
    background-color: #fca5a5;
}

.section-courses__article:nth-of-type(1) > div:nth-child(2) div span:nth-child(2) {
    background-color: #bfdbfe;
}

.section-courses__article:nth-of-type(1) > div:nth-child(2) div span:nth-child(3) {
    background-color: #a5f3fc;
}

/* Segundo article */
.section-courses__article:nth-of-type(2) > div:nth-child(2) div span:nth-child(1) {
    background-color: #d4d4d8;
}

.section-courses__article:nth-of-type(2) > div:nth-child(2) div span:nth-child(2) {
    background-color: #bfdbfe;
}

.section-courses__article:nth-of-type(2) > div:nth-child(2) div span:nth-child(3) {
    background-color: #a5f3fc;
}

/* Tercer article */
.section-courses__article:nth-of-type(3) > div:nth-child(2) div span:nth-child(1) {
    background-color: #fca5a5;
}

.section-courses__article:nth-of-type(3) > div:nth-child(2) div span:nth-child(2) {
    background-color: #93c5fd;
}

.section-courses__article:nth-of-type(3) > div:nth-child(2) div span:nth-child(3) {
    background-color: #fde68a;
}

.section-courses__article a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #4f46e5;
}

.section-courses__container > a {
    background-color: #4f46e5;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}


@media screen and (min-width: 425px) {
    .section-courses__article div:first-child {
        margin-bottom: 20px;
    }

    .section-courses__article div img{
        height: 250px;
    }
}

/* Pantallas de hasta 768px */
@media screen and (min-width: 768px) {

    .section-courses__title h2 {
        text-align: center;
    }

    .section-courses__container--card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-courses__article {
        width: 500px;
    }

    .section-courses__article div:first-child {
        height: 300px;
        margin-bottom: 30px;
    }

    .section-courses__article div img{
        height: 350px;
    }

    .section-courses__container > a {
        width: 250px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .section-courses__container--card {
        justify-content: center;
    }

    .section-courses__article {
        transition: all 0.3s;
    }

    .section-courses__article:hover {
        transform: translateY(-5px);
    }

    .section-courses__container > a:hover {
        transition: 0.3s;
        background-color: #4338ca;
    }

    /* Asegúrate de que el span pueda ser transformado */
    .section-courses__article div a span {
        display: inline-block; /* O display: block; según tu diseño deseado */
        transition: transform 0.3s ease; /* Añade una transición suave para la animación */
    }

    .section-courses__article div a:hover span {
        transform: translateX(5px); /* Un valor más sutil para empezar, puedes ajustar */
    }

}

@media screen and (min-width: 1440px) {
    .section-courses__container {
        justify-content: center;
        align-items: center;
        width: 1200px;
    }

    .section-courses__title {
        width: 1130px;
    }
}